.imageBanner {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 80vh;
}

.btnPlay {
  background-image: url('../../assets/carouselImg/playImg.png');
  background-size: cover;
  background-color: transparent;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50% -50%);
}

.btnPlay:hover {
    background-color: #fff;
    border-radius: 50%;
    color: #111; 
    background: greenyellow; 
    box-shadow: 0 0 100px greenyellow;
}
