.bg-opacity {
  position: relative;
  height: 100vh;
  background-color: #000;
}

.bg-opacity::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  opacity: 0.5;
  background-image: url('../assets/Loginbg/bg-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
}
